<div class="page-header" id="home">
        <div class="header-caption">
            <div class="header-caption-contant">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="header-caption-inner">
                                <h1>Blog Full View</h1>
                                <p><a href="#"> Home </a> // Blog Full View</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Blog Section  -->
    <div class="blog-area inner-padding4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; " data-sr-id="1" class="post-row2 mb50 foo">
                        <div class="post-header">
                            <div class="post-feature">
                                <!--<img src="/assets/post-feature-10.png" alt="responsive img"> -->
                                <%= image_tag("post-feature-10.png") %>
                                <div class="caption">
                                    <div class="caption-inner">
                                        <div class="caption-content">
                                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-body text-center">
                            <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                            <h2 class="post-heading"><a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html">The  Best Blog Post Dummy Title</a></h2>
                            <p>There are many variations of passages of 
Lorem Ipsum availto atable, but the majtyrtrority have suffered 
alteration some form, by injected humour, or words which don't look 
nlightly elievable. If ayogou usare going ttext. All the Loret hrnmto 
theena Ipsum generators on the Internet tend to repeat predegji fined 
chunks as making this the true generator on the Internet.</p>
                            <ul class="post-meta">
                                <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                            </ul>
                        </div>
                        <div class="post-footer">
                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default btn-sm-field" role="button">read more</a>
                        </div>
                    </div>
                    <div style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; " data-sr-id="2" class="post-row2 mb50 foo">
                        <div class="post-header">
                            <div class="post-feature">
                                <!-- <img src="/assets/post-feature-11.png" alt="responsive img"> -->
                                <%= image_tag("post-feature-11.png") %>
                                <div class="caption">
                                    <div class="caption-inner">
                                        <div class="caption-content">
                                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-body text-center">
                            <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                            <h2 class="post-heading"><a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html">The  Best Blog Post Dummy Title</a></h2>
                            <p>There are many variations of passages of 
Lorem Ipsum availto atable, but the majtyrtrority have suffered 
alteration some form, by injected humour, or words which don't look 
nlightly elievable. If ayogou usare going ttext. All the Loret hrnmto 
theena Ipsum generators on the Internet tend to repeat predegji fined 
chunks as making this the true generator on the Internet.</p>
                            <ul class="post-meta">
                                <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                            </ul>
                        </div>
                        <div class="post-footer">
                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default btn-sm-field" role="button">read more</a>
                        </div>
                    </div>
                    <div style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; " data-sr-id="3" class="post-row2 mb50 foo">
                        <div class="post-header">
                            <div class="post-feature">
                                <!--<img src="/assets/post-feature-12.png" alt="responsive img"> -->
                                <%= image_tag("post-feature-12.png") %>
                                <div class="caption">
                                    <div class="caption-inner">
                                        <div class="caption-content">
                                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-body text-center">
                            <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                            <h2 class="post-heading"><a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html">The  Best Blog Post Dummy Title</a></h2>
                            <p>There are many variations of passages of 
Lorem Ipsum availto atable, but the majtyrtrority have suffered 
alteration some form, by injected humour, or words which don't look 
nlightly elievable. If ayogou usare going ttext. All the Loret hrnmto 
theena Ipsum generators on the Internet tend to repeat predegji fined 
chunks as making this the true generator on the Internet.</p>
                            <ul class="post-meta">
                                <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                            </ul>
                        </div>
                        <div class="post-footer">
                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default btn-sm-field" role="button">read more</a>
                        </div>
                    </div>
                    <div style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; " data-sr-id="4" class="post-row2 foo">
                        <div class="post-header">
                            <div class="post-feature">
                                <!-- <img src="/assets/post-feature-13.png" alt="responsive img"> -->
                                <%= image_tag("post-feature-13.png") %>
                                <div class="caption">
                                    <div class="caption-inner">
                                        <div class="caption-content">
                                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-body text-center">
                            <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                            <h2 class="post-heading"><a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html">The  Best Blog Post Dummy Title</a></h2>
                            <p>There are many variations of passages of 
Lorem Ipsum availto atable, but the majtyrtrority have suffered 
alteration some form, by injected humour, or words which don't look 
nlightly elievable. If ayogou usare going ttext. All the Loret hrnmto 
theena Ipsum generators on the Internet tend to repeat predegji fined 
chunks as making this the true generator on the Internet.</p>
                            <ul class="post-meta">
                                <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                            </ul>
                        </div>
                        <div class="post-footer">
                            <a href="http://devitems.com/html/disco-preview/disco/blog-details-fullwidth.html" class="btn btn-default btn-sm-field" role="button">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>