<footer>
  <div style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; " data-sr-id="5" class="footer-area foo" data-sr="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="company-logo">
                            <img class="" src="/assets/logo.png" alt="responsive img">
                        </div>
                        <div class="footer-content">
                            <ul class="address-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <p>House No 27, Road No 07, East Road, Dhaka, Bangladesh</p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p>+660 256 24857</p>
                                    <p>+660 256 24857</p>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <p>Username@gmail.com</p>
                                    <p>Damo@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h4 class="footer-title">OPENING TIME</h4>
                        <div class="footer-content">
                            <div class="opening-time">
                                <p><strong>Monday-Friday: </strong> <small>8.00 to 18.00</small></p>
                                <p><strong>Saturday: </strong> <small>9.00 to 18.00</small></p>
                                <p><strong>Sunday: </strong> <small>10.00 to 16.00</small></p>
                                <p>Every friday of week dolor sit amet, cons ctetur adipisi cing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h4 class="footer-title">TWITTER FEED</h4>
                        <div class="footer-content">
                            <ul class="twitter-list">
                                <li>
                                    <p>Lorem ipsum dolor sit am ectet adip isicing elit, sed eiusmod.</p>
                                    <span class="twitt-time">5 hours Ago</span>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit am ectet adip isicing elit, sed eiusmod.</p>
                                    <span class="twitt-time">7 hours Ago</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h4 class="footer-title">Newsletters</h4>
                        <div class="footer-content">
                            <div class="footer-form">
                                <p>Lorem ipsum dolor sit amet, cons ectetur adip isicing elit, sed eiusmod.</p>
                                <form action="#" method="POST">
                                    <div class="form-group">
                                        <label for="email2">Email Address...</label>
                                        <div class="input-group">
                                            <input placeholder="Email Address..." class="form-control2" id="email2" type="text">
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</footer>
<!-- Ends Footer Section -->
<!-- Copyright Section -->
<div class="copyright-area">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p class="footer-copyright">Copyright © 2017 <a href="#">Discotemplate.</a> All Right Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <ul class="footer-social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
  <!-- Ends Copyright Section -->